/* Grid Section
--------------------------------*/
#grids ul {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2px;
}

#grids ul li {
  min-width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}
@supports not (display: grid) {
  li {
    padding: 5px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
}
#grids ul li img {
  width: 100%;
}

.brand {
  border: 1px solid #1dc8cd;
  font-size: 0;
  padding: 10px;
  cursor: pointer;
}
.brand h4{
  padding: 10px 3px;
  margin-bottom: 6px;
  background: black;
  text-decoration: none;
  color: white;
}
