 .u-section-1 {
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 831px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 622px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 513px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 197px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
  min-height: 989px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 922px;
}

.u-section-2 .u-container-layout-1 {
  padding: 29px 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 45px 0 0 67px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 922px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-group-elements-1 {
  width: 686px;
  min-height: 760px;
  height: auto;
  margin: 51px auto 0 24px;
}

.u-section-2 .u-group-elements-2 {
  min-height: 183px;
  height: auto;
  width: 752px;
  margin: -37px -66px 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 702px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: -22px 0 0 123px;
}

.u-section-2 .u-group-elements-3 {
  min-height: 179px;
  height: auto;
  width: 747px;
  margin: 80px -61px 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 0 0 123px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: -179px auto 0 0;
}

.u-section-2 .u-group-elements-4 {
  min-height: 257px;
  height: auto;
  width: 743px;
  margin: 86px -57px 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: -25px 0 0 123px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 940px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 890px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 890px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 642px;
    min-height: 820px;
    margin-top: 5px;
    margin-left: 0;
  }

  .u-section-2 .u-group-elements-2 {
    min-height: 179px;
    width: 624px;
    margin-top: 11px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 4px;
    margin-right: 574px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -26px;
    margin-left: 113px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 626px;
    margin-top: 48px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 113px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-group-elements-4 {
    min-height: 310px;
    width: 625px;
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -22px;
    margin-left: 114px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1097px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1115px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 19px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1115px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 492px;
    min-height: 908px;
    margin-top: 0;
  }

  .u-section-2 .u-group-elements-2 {
    min-height: 205px;
    width: 481px;
    margin-top: -21px;
    margin-right: -9px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 3px;
    margin-right: 440px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -28px;
    margin-left: 118px;
  }

  .u-section-2 .u-group-elements-3 {
    min-height: 232px;
    width: 469px;
    margin-top: 49px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 1px;
    margin-left: 114px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -232px;
  }

  .u-section-2 .u-group-elements-4 {
    min-height: 410px;
    width: 471px;
    margin-top: 54px;
    margin-bottom: -22px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 9px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -35px;
    margin-left: 115px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1211px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 177px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 937px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-group-elements-2 {
    min-height: 179px;
    width: 573px;
    margin-top: 0;
    margin-right: -100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 532px;
  }

  .u-section-2 .u-group-elements-3 {
    min-height: 206px;
    width: 569px;
    margin-top: 67px;
    margin-right: -96px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -206px;
  }

  .u-section-2 .u-group-elements-4 {
    min-height: 333px;
    width: 568px;
    margin-top: 65px;
    margin-right: -95px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 3px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -29px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 157px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 340px;
    min-height: 1185px;
  }

  .u-section-2 .u-group-elements-2 {
    min-height: 230px;
    width: 385px;
    margin-right: -61px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: 343px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -26px;
    margin-left: 102px;
  }

  .u-section-2 .u-group-elements-3 {
    min-height: 307px;
    width: 382px;
    margin-top: 41px;
    margin-right: -58px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 5px;
    margin-left: 98px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -305px;
  }

  .u-section-2 .u-group-elements-4 {
    min-height: 512px;
    width: 382px;
    margin-top: 44px;
    margin-right: -58px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 102px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 940px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 57px;
  margin-bottom: 30px;
  width: 1140px;
  left: 0;
  top: 57px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 565px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 853px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-group-elements-1 {
  width: 311px;
  min-height: 97px;
  height: auto;
  margin: 27px 459px 0 9px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 11px 0 0;
}

.u-section-3 .u-group-elements-2 {
  width: 409px;
  min-height: 151px;
  margin: -129px 0 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 69px 98px 0 370px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: -25px 459px 0 9px;
}

.u-section-3 .u-text-8 {
  line-height: 1.6;
  font-size: 0.75rem;
  margin: 18px 514px 0 9px;
}

.u-section-3 .u-text-9 {
  font-size: 0.75rem;
  margin: -403px 86px 0 370px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid solid dotted;
  font-size: 0.875rem;
  margin: -181px auto 0 30px;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: solid solid dotted;
  font-size: 0.875rem;
  margin: 222px auto 0 30px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 918px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 918px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 411px;
    min-height: 107px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 18px;
  }

  .u-section-3 .u-group-elements-2 {
    width: 411px;
    height: auto;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 18px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 302px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -26px;
    margin-right: 313px;
    margin-left: 18px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: 368px;
    margin-left: 18px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -426px;
    margin-right: 24px;
    margin-left: 296px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -155px;
    margin-left: 39px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 219px;
    margin-left: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1368px;
  }

  .u-section-3 .u-group-elements-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 623px;
    margin-right: 163px;
    margin-left: 19px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -584px;
    margin-right: 163px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 218px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 145px;
    margin-right: 151px;
    margin-left: 19px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -726px;
    margin-left: 41px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1462px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 21px;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 169px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1255px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 330px;
    margin-right: 210px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 524px;
    margin-right: 164px;
    margin-left: 18px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -502px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 119px;
    margin-right: 150px;
    margin-left: 20px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -629px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 172px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1492px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 55px;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 135px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1302px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-group-elements-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-elements-2 {
    margin-top: 26px;
    min-height: 180px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: 547px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: -516px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 26px;
    margin-right: 36px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: 132px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -646px;
    margin-left: 25px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 174px;
    margin-left: 25px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 867px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: -32px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 899px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 59px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 341px 0 0 23px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 899px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-4 .u-group-elements-1 {
  width: 547px;
  min-height: 369px;
  height: auto;
  margin: 211px auto 0 97px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 22px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 27px 0 0;
}

.u-section-4 .u-group-elements-2 {
  width: 221px;
  min-height: 64px;
  height: auto;
  margin: 43px 509px 0 97px;
}

.u-section-4 .u-icon-1 {
  width: 52px;
  height: 52px;
  transition-duration: 0.5s;
  margin: 0 0 0 auto;
  padding: 3px;
}

.u-section-4 .u-icon-2 {
  width: 52px;
  height: 52px;
  transition-duration: 0.5s;
  border-style: double;
  margin: -52px auto 0 85px;
  padding: 3px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  border-style: double;
  margin: -58px auto -6px 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 650px;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 748px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 37px;
    padding-right: 37px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 22px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 748px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-4 .u-group-elements-1 {
    min-height: 430px;
    margin-top: 68px;
    margin-left: 80px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -10px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 87px;
  }

  .u-section-4 .u-group-elements-2 {
    margin-top: 58px;
    margin-right: auto;
    margin-left: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 680px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 223px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 680px;
  }

  .u-section-4 .u-group-elements-1 {
    width: 446px;
    min-height: 439px;
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 74px;
    margin-right: 53px;
  }

  .u-section-4 .u-group-elements-2 {
    margin-top: 44px;
    margin-left: 44px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 750px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 47px;
    padding-left: 50px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 37px;
    margin-right: 232px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 630px;
  }

  .u-section-4 .u-group-elements-1 {
    min-height: 408px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 43px;
  }

  .u-section-4 .u-group-elements-2 {
    margin-top: 37px;
    margin-left: 97px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding: 29px 9px 24px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-right: 69px;
    margin-left: 40px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 631px;
  }

  .u-section-4 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-4 .u-group-elements-2 {
    margin-top: 22px;
    margin-left: 50px;
  }
}

.u-section-4 .u-icon-1,
.u-section-4 .u-icon-1:before,
.u-section-4 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-icon-1.u-icon-1.u-icon-1:hover {
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  stroke: #c0c0c0 !important;
  border-color: #c0c0c0 !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-4 .u-icon-1 {
  stroke: transparent !important;
  border-color: transparent !important;
  stroke-width: 0 !important;
  border-width: 0px !important;
}

.u-section-4 .u-icon-1.u-icon-1.u-icon-1:hover .u-svg-link {
  fill: var(--#000000) !important;
}

.u-section-4 .u-icon-1.u-icon-1.u-icon-1.hover {
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  stroke: #c0c0c0 !important;
  border-color: #c0c0c0 !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-4 .u-icon-1 {
  stroke: transparent !important;
  border-color: transparent !important;
  stroke-width: 0 !important;
  border-width: 0px !important;
}

.u-section-4 .u-icon-1.u-icon-1.u-icon-1.hover .u-svg-link {
  fill: var(--#000000) !important;
}

.u-section-4 .u-icon-2,
.u-section-4 .u-icon-2:before,
.u-section-4 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-icon-2.u-icon-2.u-icon-2:hover {
  stroke-width: 3px !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  stroke: #c0c0c0 !important;
  border-color: #c0c0c0 !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.u-section-4 .u-icon-2 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-4 .u-icon-2.u-icon-2.u-icon-2:hover .u-svg-link {
  fill: var(--#000000) !important;
}

.u-section-4 .u-icon-2.u-icon-2.u-icon-2.hover {
  stroke-width: 3px !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  stroke: #c0c0c0 !important;
  border-color: #c0c0c0 !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.u-section-4 .u-icon-2 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-4 .u-icon-2.u-icon-2.u-icon-2.hover .u-svg-link {
  fill: var(--#000000) !important;
}

.u-section-4 .u-icon-3,
.u-section-4 .u-icon-3:before,
.u-section-4 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-icon-3.u-icon-3.u-icon-3:hover {
  stroke-width: 3px !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  stroke: #c0c0c0 !important;
  border-color: #c0c0c0 !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.u-section-4 .u-icon-3 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-4 .u-icon-3.u-icon-3.u-icon-3:hover .u-svg-link {
  fill: var(--#000000) !important;
}

.u-section-4 .u-icon-3.u-icon-3.u-icon-3.hover {
  stroke-width: 3px !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  stroke: #c0c0c0 !important;
  border-color: #c0c0c0 !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.u-section-4 .u-icon-3 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-4 .u-icon-3.u-icon-3.u-icon-3.hover .u-svg-link {
  fill: var(--#000000) !important;
} .u-section-5 {
  background-image: none;
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 547px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1039px;
  transform: rotate(0deg);
  opacity: 1;
  background-position: 50% 0vh;
  background-image: none;
  margin: 60px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 405px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 13px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-elements-1 {
  width: 176px;
  min-height: 117px;
  margin: 66px auto 0 0;
}

.u-section-5 .u-group-elements-2 {
  min-height: 57px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-text-4 {
  margin: 31px auto 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-5 .u-group-elements-3 {
  width: 114px;
  min-height: 57px;
  margin: 66px auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-5 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 6px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 80px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 367px;
  }

  .u-section-5 .u-group-elements-3 {
    min-height: 56px;
  }

  .u-section-5 .u-social-icons-1 {
    height: 31px;
    width: 71px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-group-elements-3 {
    min-height: 51px;
  }

  .u-section-5 .u-social-icons-1 {
    height: 25px;
    width: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-social-icons-1 {
    height: 26px;
    width: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-group-elements-3 {
    min-height: 52px;
  }

  .u-section-5 .u-social-icons-1 {
    height: 27px;
    width: 64px;
  }
}