.carousal img {
  display: inline-block;
}

.carousel {
  width: 91em;
  height: 410px;
  overflow: hidden;
  padding: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-left: 3px dashed #EEEEE0;
  border-right: 3px dashed #EEEEE0;
  /*border-top: 5px solid #EEEEE0;*/
  box-shadow-bottom: 0 0 4px #000;
  margin: 0 auto;
  border-radius-top: 50px;
}

.holder {
  -webkit-animation: carousel 25s linear infinite;
          animation: carousel 25s linear infinite;
  white-space: nowrap;
  will-change: transform;
}

.holder:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
@-webkit-keyframes carousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes carousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
