/*Social Links*/
	#sociallinks{
		position: fixed;
    	bottom: 200px;
    	right: 0px;
	}

	#sociallinks li {
    	list-style: none;
    	height: 39px;
     	width: 40px;
     	display: flex; 
		font-size: 32px;
	}

	#sociallinks i{
	 	color:rgba(0, 0, 0, 0.74902);
	 	-webkit-transition: all 0.4s ease;
	}

	#sociallinks i:hover{
		color: rgba(220, 20, 60, 0.74902);
	}